# vscode settings
.vscode

# python venv and pycache
.venv
__pycache__

# media (for saving repo space)
src/data/media/pics/*
src/data/media/videos/*

# sensitive data
config.ini
src/data/bot.session
src/data/telegram_config.yaml
